[Unit]
Description=Daily tldr cache update
Requires=tldr-update.service

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=3600

[Install]
WantedBy=timers.target
